ol li {
    list-style-type: decimal;
    margin-left: 2em;
    color: black;
}
ol li a {
    color: blue;
}
ol li h1 {
    color: green;
}
ol li h2 {
    color: red;
}
ul li {
    list-style-type: disc;
    margin-left: 2em;
    color: black;
}
ul li a {
    color: blue;
}
body {
    background: white url("../img/CN3.png") no-repeat fixed center;
}
